MYSQL_ROOT_PASSWORD=rootpass
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=board_club
DB_USER_ADMIN=club_admin
DB_PASS_ADMIN=admin_pass
DB_USER_HOST=club_host
DB_PASS_HOST=host_pass
DB_USER_VIEWER=club_viewer
DB_PASS_VIEWER=viewer_pass